@use 'shared/styles/variables' as *;
@use 'toolbar';
@use 'header';
@use 'body';
@use 'sidebar';
@use 'ability-group';
@use 'ability-progress';
@use 'portfolio-source';
@use 'main';
@use 'main2-toolbar';

.welcome {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: $space-5;
}
